:host {
    section {
        text-align: center;
        margin: auto;
        p {
            color: #717171 !important;
        }
        .p-card {
            .p-card-subtitle {
                color: #545454 !important;
            }
        }
    }
}