section {
    .opera-ellipsis div {
        max-width: 12vw;
    }
    .o-f-t {
        position: absolute;
        margin-top: -75px;
        line-height: 50px;
        label {
            padding-right: 10px;
        }
    }
}