<ng-container *ngIf="displayTemplate">
    <header>
        <opera-navbar [innerWidth]="innerWidth"></opera-navbar>
    </header>
    <div class="grid">
        <div class="col">
            <opera-sidebar [innerWidth]="innerWidth"></opera-sidebar>
            <div class="grid" [ngClass]="{ 'opera-wrapper-body': innerWidth > 768, 'opera-wrapper-body-mobile': innerWidth <= 768 }">
                <div class="col-12">
                    <opera-breadcrumbs></opera-breadcrumbs>
                </div>
                <div class="col-12">
                    <p-scrollPanel [style]="{width: '100%', height: (innerWidth < 500) ? '63vh' : '74.5vh'}">
                        <router-outlet></router-outlet>
                        <p-scrollTop target="parent" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up"></p-scrollTop>
                    </p-scrollPanel>
                </div>
                <footer class="col-12">
                    <opera-footer></opera-footer>
                </footer>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!displayTemplate">
    <router-outlet></router-outlet>
</ng-container>

<p-blockUI [blocked]="blockedPanel">
    <i class="pi pi-lock" style="font-size: 3rem"></i>
</p-blockUI>


<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-messages [value]="msgs"></p-messages>
<p-toast></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="top-right" key="tr"></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<p-toast position="bottom-left" key="bl"></p-toast>
<p-toast position="bottom-right" key="br"></p-toast>