:host {
    section {
        background-color: #ffffff;
        text-align: center;
        padding: 15px;
         ::ng-deep {
            .p-avatar.p-avatar-xl {
                width: 20vw !important;
                height: 18vh !important;
                @media screen and (max-width: 500px) {
                    width: 40vw !important;
                }
            }
        }
        ul {
            padding-left: 0;
            li {
                list-style: none;
                margin: 10px 0;
            }
        }
    }
}