:host {
    section {
        height: 50vh;
        border: 1px solid #e5e5e5;
        color: #e5e5e5;
        .opera-center-h-v {
            text-align: center;
            padding: 20px;
            margin-top: 25%;
        }
    }
}